* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    color: #0a2540;
}
/* my header section css */
.header {
    border-bottom: 1px solid #eee;
    background: #fff;
}

.header-wrap {
    width: 1200px;
    height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 38px;
}

.menu a {
    margin: 0 14px;
    text-decoration: none;
    color: #333;
}

.header-btn {
    background: #3f8f5f;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 6px;
}
/* my hero section css */
.hero {
    height: 600px;
    background: url("./assets/hero-bg.png") center/cover no-repeat;
    position: relative;
}

.overlay {
    position: absolute;
    inset: 0;
}

.hero-text {
    position: relative;
    width: 800px;
    margin: auto;
    padding-top: 120px;
    text-align: center;
    color: #fff;
}

.tag {
    background: #e6f4ea;
    color: #3f8f5f;
    padding: 6px 14px;
    border-radius: 20px;
}

.hero h1 {
    font-size: 46px;
    margin: 20px 0;
}

.hero h1 span {
    color: #5fd28a;
}

.hero p {
    line-height: 1.6;
    margin-bottom: 30px;
}

.btn {
    padding: 12px 22px;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
}

.primary {
    background: #3f8f5f;
    color: #fff;
}

.outline {
    border: 2px solid #fff;
    color: #fff;
}

.btn img {
    width: 14px;
    margin-left: 8px;
}

.third-section{
    padding: 80px 0;
    text-align: center;
}

.key-point {
    width: 1100px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

.item {
    width: 240px;
    padding: 25px;
    /* box-shadow: 0 10px 25px rgba(0,0,0,0.05); */
    border-radius: 8px;
    /* display: block;
    opacity: 1; */
}

.item img {
    width: 38px;
    margin-bottom: 15px;
}
/* brain picture section */
.solution {
    padding: 100px 0;
}

.solution-wrap {
    width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.solution-img {
    width: 420px;
}

.solution-text {
    margin-left: 60px;
}
.the{
    color: #5fd28a;
}
.solution-text ul {
    margin-top: 20px;
}

.solution-text li {
    list-style: none;
    margin-bottom: 10px;
}

.solution-text img {
    width: 16px;
    margin-right: 8px;
}

.challenge {
    background: #f6f4ee;
    padding: 80px 0;
    text-align: center;
    /* padding-bottom: 120px; */
    margin-bottom: 120px;
}

.footer {
    background: #031c30;
    color: #fff;
    padding: 30px;
    text-align: center;
    
}

.footer img {
    height: 32px;
    margin-bottom: 10px;
}

